<div id="content">
	<div class="post">
		<h3 class="title">About us and our product</h3>
		<div class="entry">
			<img alt="#" src="/assets/tumblr_mpqr98a3761s5jjtzo1_1280.png" style="width:250px">
			<p><strong>What can we say about us and our product?</strong></p> 
			<p>We are students of the Technological School "Electronic Systems" at TU Sofia.
			We joined our forces to make a user-friendly website, which anyone who needs to convert video and image files to feel free to use it.</p>
			<p class="patch">Page "Contacts" has more information on how to reach us (Skype,Facebook,etc…) and we will answer within 48 hours.</p>
			<p>Please distribute our online converter with your friends.
			We will be glad if you like our facebook page: <a href="https://www.facebook.com/pages/Online-converter/445955005573643"><button type="button">Click Me!</button></a></p>
		</div>
		<div id = "our-team">
			<div class = "each-team-mate">
				Kalin
				<div class = "team-mate-image">
					<img alt="#" src="/assets/logo1-transparent-200x.png" style="width:200px; height:200px">
				</div>
			</div>
			<div class = "each-team-mate">
				Krassen
				<div class = "team-mate-image">
					<img alt="#" src="/assets/logo1-transparent-200x.png" style="width:200px; height:200px">
				</div> 
			</div>
			<div class = "each-team-mate">
				Dimitar
				<div class = "team-mate-image">
					<img alt="#" src="/assets/logo1-transparent-200x.png" style="width:200px; height:200px">
				</div>
			</div>
		</div>
		<div class = "after-our-team">
		</div>	
	</div>
</div>	
