<div id="content">
	<div class="post">
		<h3 class="title">About us</h3>
		<div class="entry">
			<img alt="#" src="/assets/tumblr_mpqr98a3761s5jjtzo1_1280.png" style="width:250px">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque scelerisque lacus felis, nec cursus ex consectetur vehicula. Nam at semper urna. Integer ligula quam, molestie nec rhoncus quis, accumsan eget mauris. In imperdiet risus sit amet posuere venenatis. Proin ultricies vehicula tempor. Quisque in nisi interdum, consectetur lacus vel, viverra justo. Nam hendrerit blandit elementum. Cras pellentesque metus enim, non iaculis erat laoreet sit amet. In varius urna a dui pulvinar sagittis. Praesent tempor nec leo sed tempor.</p>
		</div>
		<div id = "our-team">
			<div class = "each-team-mate">
				Kalin
				<div class = "team-mate-image">
					<img alt="#" src="/assets/logo1-transparent-200x.png" style="width:200px; height:200px">
				</div>
			</div>
			<div class = "each-team-mate">
				Krassen
				<div class = "team-mate-image">
					<img alt="#" src="/assets/logo1-transparent-200x.png" style="width:200px; height:200px">
				</div> 
			</div>
			<div class = "each-team-mate">
				Dimitar
				<div class = "team-mate-image">
					<img alt="#" src="/assets/logo1-transparent-200x.png" style="width:200px; height:200px">
				</div>
			</div>
		</div>
		<div class = "after-our-team">
		</div>	
	</div>
</div>	