
<div id="content">
	<div class="post">
		<h3 class="title">Support</h3>
		<div class="entry">
			<div id="supp">
				<h3>Contact:</h3>
				<p>phone: +35989939****</p>
				<p>Skype: online.converter.inc</p>
				<p>e-Mail: online.converter.inc@gmail.com</p>
				<p>Facebook page: <a href="https://www.facebook.com/pages/Online-converter/445955005573643"><button type="button">Click Me!</button></a></p>
			</div>
		</div>	
	</div>
</div>	
	<!-- end #content -->