<div id="content">
	<div class="post">
		<h3 class="title"><span>Latest news</span> Convert Video format to AVI, FLV and etc. - available</h3>
		<p class="meta"><span class="date">May 19, 2015</span><span class="posted">Posted by <span>Online Converter admins</span></span></p>
		<div class="entry">
			<img alt="FLV type" src="/assets/FLV_Type.png" style="width:175px">
			<p>
			<ul>
  				<li>AVI - Audio Video Interleaved (also Audio Video Interleave), known by its initials AVI, is a multimedia container format. </li>
  				<li>FLV - Flash Video is a container file format used to deliver video over the Internet using Adobe Flash Player version 6 and newer.</li>
			</ul>
			</p>
			<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p> <!-- za nqkolko prazni mesta mejdu Read More i Comments -->
		</div>		
	</div>
	<div class="post">
		<h3 class="title">Convert 
		Audio formats to WAV, AIFF and MP3 - available</h3>
		<p class="meta"><span class="date">May 17, 2014</span><span class="posted">Posted by <span>Online Converter admins<span></span></p>
		<div class="entry">
			<img alt="JPEG type" src="/assets/mp3_256.png" style="width:175px">
			<p>
			<ul>
  				<li>WAV - Waveform Audio File Format is a Microsoft and IBM audio file format.</li>
  				<li>AIFF - Audio Interchange File Format is an audio file format standard used for storing sound data for personal computers and other electronic audio devices.</li>
  				<li>MP3 - is an audio coding format.</li>
			</ul>
			</p>
			<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p> <!-- za nqkolko prazni mesta mejdu Read More i Comments -->
		</div>		
	</div>

	<div class="post">
		<h3 class="title">Convert Image formats to PNG, GIF and JPEG - available</h3>
		<p class="meta"><span class="date">May 15, 2014</span><span class="posted">Posted by <span>Online Converter admins</span></span></p>
		<div class="entry">
			<img alt="JPEG type" src="/assets/jp0.png" style="width:175px">
			<p>
			<ul>
  				<li>PNG - Portable Network Graphics is a raster graphics file format.</li>
  				<li>GIF - Graphics Interchange Format  is a bitmap image format.</li>
  				<li>JPEG  - is a commonly used method of lossy compression for digital images.</li>
			</ul>
			</p>
			<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p> <!-- za nqkolko prazni mesta mejdu Read More i Comments -->
		</div>		
	</div>
</div>	
	<!-- end #content -->
