<center>
	<div style="font-size: 40px;font-weight: bold; margin-bottom:10px;">Requests</div>
	<table border="1" style="width:100%;max-width: 900px;border: 4px solid black; border-collapse: collapse; text-align:center;">
		<tr style="background-color:black; color:white; font-weight: bold; border: 1px solid white;">
			<th style="padding:10px;">Source url</th>
			<th>Convert to</th>
			<th>Date created</th>
			<th>Status</th>	
		</tr>
		<%= render @user.requests.all %>
	</table>
</center>
