<center>
	<div style="font-size: 40px;font-weight: bold; margin-bottom:10px;">Requests</div>
	<table border="1" class="request_show_table">
		<tr class="table_header">
			<th>Source url</th>
			<th>Convert to</th>
			<th>Date created</th>
			<th>Status</th>	
		</tr>
		<%= render @user.requests.all %>
	</table>
</center>
