<div style="font-size: 40px;font-weight: bold;">Requests</div>
<table border="1" style="border: 1px solid black; border-collapse: collapse;">
	<tr>
		<th>Source url</th>
		<th>Convert to</th>
		<th>Date created</th>
		<th>Status</th>	
	</tr>
	<%= render @user.requests.all %>
</table>
