<center>
	<div class="table_title">Level</div>
	<table border="1" class="levels_table">
		<tr class="table_header">
			<th>Level</th>
			<th>Max bytes</th>
			<th>Max requests</th>
			<th>Cost</th>	
			<th>Upgrade</th>
		</tr>
		<%= render @levels %>
	</table>
</center>
