.error_messages {
	color: #000;
	text-align: center;
	text-indent: 5%;
	text-transform: uppercase;
}

.error_messages .alert-success {
	background-color: green;
}

.error_messages .alert-danger {
	background-color: red;
}
