/* Footer */

.footerholder {
	background: #444;
    bottom: 0;
    text-align: center;
    width: 100%;
		height: 100px;
}

.footer {
		background: linear-gradient(to bottom, #111, #333);
		color: white;
    height: 70px;
    margin: auto;
    width: 100%;
		padding-bottom: 10px;
		padding-top: 2px;
}

.footer a {
	color: #ff6600;
}
