.login-register-form {
	padding-bottom: 10px;
	margin: 0px auto;
	text-align: center;
	border: 1px solid black;
	width: 100%;
	max-width: 400px;
	background-color: white;
	border-radius: 10px 10px 0px 0px;
}

.login-register-form .form-title {
	border-radius: 10px 10px 0px 0px;
	font-size: xx-large;
	background-color: #e6e6e6;
}

.login-register-form * {
	margin: 0px auto;
	padding: 2px;
}

.login-register-form .form-title input {
	padding: 0px;
	margin: 0px;
}

.login-register-form form input[type="submit"] {
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
	background: linear-gradient(to bottom, #71BAFF, #357EC7);
}

.login-register-form form input[type="submit"]:hover {
	background: linear-gradient(to bottom, #357EC7, #71BAFF);
}

.login-register-form .field_with_errors {
	display:inline;	
	padding: 0px;
	margin: 0px;
}

.login-register-form .field_with_errors label {
	color: red;
}
