/* Navigation menu */

.nav {
	border: 1px solid #000;
	overflow: hidden;
	font-size: 20px;
	background-color: #000;
	width: 80%;
	padding: 0px 10% 0px 10%;
}

ul.nav_menu {
	color: white;
	padding: 0px;
	display: inline;
	list-style-type: none;
}

ul.pull-right {
	margin: 0px;
	float: right;
	font-size: 17px;
	padding-top: 2px;
}

ul.nav_menu a {
	margin: 0px;
	display: block;
	padding: 1vw;
	text-decoration: none;
	color: white;
}

ul.nav_menu a:hover {
	background-image: url("/assets/bg_menu.jpg");
	color: black;
}

ul.nav_menu .current_page_item a{
	background-color: #000;
	text-decoration: none;
	color: #999;
	border-bottom: 2px solid #999;
}

ul.nav_menu li {
	display: inline-block;
}

@font-face {
    font-family: Corbert;
    src: url('/assets/Corbert-Regular.otf'); format("opentype");
}

/*
	converter nav
*/

.data-converter-type-navigation {
	border: solid 1px white;
	border-radius: 0px 5px 0px 5px;
	padding: 3px;
	text-decoration: none;
	margin-right: 15px;
	font-size: 2vmax;
}

.data-converter-type-navigation:hover{
	color: white;
	background-color: #878787;
} 

