// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font-stack:    Helvetica, sans-serif;
$primary-color: #111;

body {
	font: 100% $font-stack;
	color: $primary-color;
}


/* Home */
/* Contact */
/* About */

/* Content */

#content {
	width: 80%;
	margin: 0px auto;
	padding-left: 60px;
	padding-right: 10px;
	border-left: 100px solid black;
	border-top-left-radius: 70px;
	border-bottom-left-radius: 30px;
	background-color: #111;
}

/* Post */

.post {
	padding-bottom: 50px;
}

.post:not(:last-of-type) {
	border-bottom: 1px dashed #666;
}


.title {
	margin-bottom: 10px;
	padding: 28px 0px 0px 0px;
	font-size: 26px;
	color: #ff6600;
}
.title span{
	color: #D80000;
	font: 29px helvetica, cursive, tahoma, arial, sans-serif;
	float:left;
}

.title a {
	text-decoration: none;
	color: #ff6600;
}

.meta {
	height: 2%;
	margin-bottom: px;
	padding: 10px 0px 5px 0px;
	text-align: left;
	font-weight: normal;
}

.meta .date {
	float: left;
	font: 18px helvetica, cursive, tahoma, arial, sans-serif;
	font-weight: normal;
	color: #999;
}

.meta .posted {
	float: right;
	font: 16px helvetica, cursive, tahoma, arial, sans-serif;
	font-weight: normal;
	padding-right: 10px;
	color: #999;
}

.meta .posted span {
	text-decoration: none;
	color: #ff6600; 
}

.links {
	padding: 10px 0px;
	font: 16px tahoma, helvetica, cursive, arial, sans-serif;
	font-weight: normal;
	color: #999;
}

.entry {
	padding: 15px 30px 0px 0px;
	font: 20px tahoma, helvetica, cursive, arial, sans-serif;
	font-weight: normal;
	color: #999;
	text-align: justify;
}

.entry .patch{
	text-align: left;
}

.post .entry img {
	float: left;
}

.links a {
	text-decoration: underline;
	color: #ff6600;
}

/* formats list */
.entry ul li {
	list-style-Type: none;
	padding: 0 0 4px 23px;
	background: url(http://www.computerhope.com/arrow.gif) no-repeat left top;
}

#our-team {
	
  	padding-top: 8%;
  	width: 100%;
}

.each-team-mate {
	border: 5px solid #999;
	border-radius: 30px;
	float: left;	
	width: 25%;
	height: 300px;
	margin: 1em;
	padding-top: 10px;
	font: 30px helvetica, cursive, tahoma, arial, sans-serif;
	color: #ff6600;	
}

.team-mate-image {
	height: 70%;
	padding-top: 4%;
	border-top: 3px solid #333;
	border-bottom: 3px solid #222;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;


}

.after-our-team {
	clear: left;
}

/* Button */ 
button[type="button"] {
	background: linear-gradient(to bottom, #ff6600, #222);
	border-radius: 15px;
	color: white;
	margin: 7px auto;
	padding: 6px;
	width: 10%;
}

button[type="button"]:hover {
	background: linear-gradient(to bottom, #ff6600, #111);
}

/* Italic font */
@font-face {
    font-family: ItalicFont;
    src: url(/assets/Aramis Italic);
}

