/* Request Table */

.request_show_table, .levels_table {
	border-collapse: collapse;
	border: 4px solid black;
	max-width: 950px;
	text-align: center;
	width: 100%;
}

.levels_table a {
	text-decoration: none;
}

.request_show_table tr *, .levels_table tr *{
	padding: 8px;
}

.request_show_table tr:not(.table_header):hover, .levels_table tr:not(.table_header):hover {
	background-color: #d9d9d9;
}


table .table_header {
	background-color: black;
	border: 2px solid #333;
	color: white;
	font-weight: bold;
	padding: 10px;
}

.table_title {
	margin-bottom:10px;
	font-size: 40px;
	font-weight: bold;
}
